/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
	--main-col-1: hsl(83deg 85% 45%); /*зеленный основной цвет*/
	--main-col-2: hsl(217deg 100% 14%); /*темно синий основной цвет*/
	--main-col-3: hsl(207deg 100% 96%); /*голубоватый*/
	--main-col-blue: rgb(0 76 207);
	--menu-transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
	--header-left-padding: 20px;
	--color-title: rgb(0 0 0/70%); /*серый полупрозрачный цвет заголовков*/
	--color-sub-title: rgb(0 0 0/60%); /*серый полупрозрачный цвет под заголовков*/

	
}

/*hsl(83deg 85% 45%); зеленый*/
/*hsl(217deg 100% 14%) темно синий*/

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,400;0,500;0,700;1,400;1,700&display=swap');*/




body{
	font-family: 'Roboto', sans-serif;
	/*background-color: rgb(0 0 0 / 5%);*/
	letter-spacing: 0.5px;
}
.vert_line_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-pack: center; 
	    -ms-flex-pack: center; 
	        justify-content: center; 
	margin-top: 50px;
}
.vert_line{
	border-left: 2px solid rgb(0 0 0/ 25%);
	height: 50px;
}
.heder_present{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 50px;
	text-align: center;
}
.heder_present span:last-child{
	color: var(--color-sub-title);
}
.heder_present span:first-child{
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: 900;
	color: var(--color-title);
	font-size: 25px;
}

.background_menu{
	position: fixed;
	display: none;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0 0 0 /40%);
	z-index: 60;
}
.modal_backgraund{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 60;

}
.modal_call_me{
	position: fixed;
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(0 0 0 / 30%);
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 100;
}
.call_me_cont{
	position: relative;
	background-color: var(--main-col-blue);
	width: 2px;
	border-radius: 4px;
	-webkit-box-shadow: 5px 3px 10px black;
	        box-shadow: 5px 3px 10px black;
	height: 2px;
	-webkit-transition: width .2s, height 1s, padding 1s;
	-o-transition: width .2s, height 1s, padding 1s;
	transition: width .2s, height 1s, padding 1s;
	overflow: hidden;
	z-index: 100;
}
.call_me_cont img{
	margin-top: 20px;
	width: 100px;
	height: 100px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.close_modal{
	position: absolute;
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 30px;
	height: 30px;
	background-color: var(--main-col-1);
	left: calc(100% - 15px);
	top: -15px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}
.call_me_cont form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.call_me_cont label{
	color: white;
	font-weight: 700;
}
.call_me_checkbox{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	margin-top: 20px;
	font-size: 12px;
}
.call_me_checkbox a{
	color: white;
}
.call_me_checkbox input{
	margin-right: 20px;
}
input[name="call_me_name"]{
	margin-top: 20px;
}
input[name="call_me_phone"]{
	margin-top: 10px;
}
.call_me_cont input{
	border-radius: 3px;
	border: 2px solid transparent;
	outline: none;
	padding: 8px;
}
input.invalidField{
	border: 2px solid #eb0d0dd1;
	border-radius: 3px;
}
.invalidFormText{
	color: #eb0d0dd1;
}
.invalidFormText a{
	color: #eb0d0dd1;
}
.call_me_cont input::-webkit-input-placeholder{
	font-size: 13px;
}
.call_me_cont input::-moz-placeholder{
	font-size: 13px;
}
.call_me_cont input:-ms-input-placeholder{
	font-size: 13px;
}
.call_me_cont input::-ms-input-placeholder{
	font-size: 13px;
}
.call_me_cont input::placeholder{
	font-size: 13px;
}
.call_me_btn_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 20px;
}
.call_me_send{
	position: relative;
	padding: 20px 40px;
	background-color: var(--main-col-1);
	border-radius: 4px;
	border: 2px solid var(--main-col-1);
	color: white;
	font-weight: 700;
	cursor: pointer;
	overflow: hidden;
}
.call_me_send:hover{
	background-color: transparent;
}
.call_me_load_anim{
	position: absolute;
	width: 20px;
	height: 120%;
	background-color: rgba(255 255 255 / 60%);
	top: -5px;
	left: -32px;
	-webkit-transform: skew(15deg, 0);
	    -ms-transform: skew(15deg, 0);
	        transform: skew(15deg, 0);
	-webkit-animation-name: btnLoadingAnim;
	        animation-name: btnLoadingAnim;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
}
.call_me_load_anim2{
	left: -32px;
	-webkit-animation-name: btnLoadingAnimTwo;
	        animation-name: btnLoadingAnimTwo;
	-webkit-animation-delay: .5s;
	        animation-delay: .5s;
}
@-webkit-keyframes btnLoadingAnimTwo{
	0%{
		left: -32px;
	}
	100%{
		left: 110%;
	}
}
@keyframes btnLoadingAnimTwo{
	0%{
		left: -32px;
	}
	100%{
		left: 110%;
	}
}
@-webkit-keyframes btnLoadingAnim{
	0%{
		left: -32px;
	}
	100%{
		left: 110%;
	}
}
@keyframes btnLoadingAnim{
	0%{
		left: -32px;
	}
	100%{
		left: 110%;
	}
}
.display_none{
	display: none;
}

.modal_report{
	position: fixed;
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
	z-index: 110;
	opacity: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.report_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: white;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 60%;
	border-radius: 10px;
	background-color: var(--main-col-blue);
	-webkit-box-shadow: 0px 0px 22px 0px rgba(34, 60, 80, 0.77);
	box-shadow: 0px 0px 22px 0px rgba(34, 60, 80, 0.77);
}
.report_box h2{
	margin-top: 100px;
	color: white;
}
.report_box div.calc_btn{
	width: 300px;
	font-size: 23px;
	margin-top: 50px;
}

.container_menu{
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 500px;
	overflow: auto;
	-webkit-transition: var(--menu-transition);
	-o-transition: var(--menu-transition);
	transition: var(--menu-transition);
	background-color: var(--main-col-2);
	z-index: 100;
}
.menu_flex_wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	/*overflow-x: hidden;	*/
	color: rgb(255 255 255 /70%);
	font-size: 15px;
	font-weight: 500;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	padding-left: 1em;
}
.menu_item{
	padding: 13px;
	cursor: pointer;
}
a.menu_item{
	color: rgb(255 255 255 /70%);
	text-decoration: none;
}
.favour_count_menu{
	padding: 2px;
	background-color: white;
	border-radius: 2px;
	font-weight: 900;
	color: #ff0000;
	margin-left: 5px;
}
.dop_style_menu{
	position: relative;
	overflow: hidden;
}
.menu_item:hover{
	color: var(--main-col-1);
}
.line_butt{
	position: relative;
	width: calc(100% - 40px);
	bottom: 0;
	left: 35px;
	border-bottom: 1px solid rgb(255 255 255/10%);
}
.virt_btn_menu{
	position: fixed;
	right: 0;
	top: 0;
	width: 70px;
	height: 60px;
	z-index: 101;
}
.menu_btn{
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: var(--main-col-1);
	padding: 10px;
	right: 0;
	-webkit-transition: var(--menu-transition);
	-o-transition: var(--menu-transition);
	transition: var(--menu-transition);
	z-index: 100;
}
.btn_line{
	width: 30px;
	height: 4px;
	background-color: white;
	border-radius: 4px;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}
.menu_btn div:nth-child(2){
	margin-top: 5px;
}
.menu_btn div:nth-child(3){
	margin-top: 5px;
}
.sub_menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: white;
	height: 0;
	overflow: hidden;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	border-radius: 5px;
	color: rgb(0 0 0 / 70%);
	padding-left: 1em;
}
.sub_menu a:hover{
	color: var(--main-col-1);
}
.sub_menu a{
	color: rgb(0 0 0 / 70%);
}
.sub_menu_btn{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.sub_menu_btn span:last-child{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #ffffffb3;
	border-right: 2px solid #ffffffb3;
	-webkit-transform: rotateZ(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotateZ(45deg);
	margin-left: 8px;
	margin-top: 2px;
}
.subMenuarrowOpen{
	-webkit-transform: rotateZ(-135deg) translateY(-2px) translateX(-3px) !important;
	    -ms-transform: rotate(-135deg) translateY(-2px) translateX(-3px) !important;
	        transform: rotateZ(-135deg) translateY(-2px) translateX(-3px) !important;
}
.header_wrapp{
	position: relative;
	width: 100%;
	background: url("../img/mainPage/Gradient_blue.png") left 50% top 0px / auto auto no-repeat ,url("../img/mainPage/image_header.jpg") right -97px bottom 0px / auto auto no-repeat;
	padding-left: 20px;
	padding-right: 20px;
}
.logo_header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: white;
	border-radius: 5px;
	width: 120px;
	height: 100px;
}
.logo_header img{
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
   		object-fit: contain;

}
.name_company{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: white;
}
.name_company a:first-child{
	font-weight: 700;
	font-size: 20px;
	margin-top: 10px;
	text-decoration: none;
	color: white;
}
.name_company span:last-child{
	margin-top: 10px;
	font-weight: 300;
	font-size: 15px;
}
.header_kont_call{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 50px;
}
.container_tel a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 900;
}
.container_tel span{
	color: #ffffffa8;
	font-size: 13px;
}
.mask-tel{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border-radius: 5px;
	padding: 5px;
	color: white;
	background-color: var(--main-col-1);
	cursor: pointer;
	font-size: 10px;
}
.tel-rel{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.svg_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	background-color: var(--main-col-1);
	margin-right: 20px;
	margin-left: 20px;
}
.container_tel{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.header_lozung {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: white;
}
.header_lozung span:first-child{
	margin-top: 50px;
	margin-bottom: 15px;
	font-weight: 900;
	font-size: 21px;
}
.header_lozung span:nth-child(2){
	font-weight: 300;
	font-size: 17px;
	margin-bottom: 30px;
	color: rgb(255 255 255 / 80%);
}
.header_lozung a{
	position: relative;
	padding: 20px;
	border-radius: 3px;
	width: 240px;
	background-color: var(--main-col-1);
	text-align: center;
	cursor: pointer;
	border: solid 2px rgb(138 212 17);
	margin-bottom: 90px;
	overflow: hidden;
}
.btn_animate{
	position: absolute;
	width: 20px;
	height: 100%;
	background-color: rgba(255 255 255 / 30%);
	top: 0;
	left: -15%;
	-webkit-transform: skew(15deg, 0);
	    -ms-transform: skew(15deg, 0);
	        transform: skew(15deg, 0);
	-webkit-animation-name: btnAnim;
	        animation-name: btnAnim;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(0.56,-0.03, 0.15, 0.9);
	        animation-timing-function: cubic-bezier(0.56,-0.03, 0.15, 0.9);
	-webkit-animation-delay: 3s;
	        animation-delay: 3s;
}
@-webkit-keyframes btnAnim{
	0%{
		left: -15%;
	}
	25%{
		left: 110%;
	}
	100%{
		left: 110%;
	}
}
@keyframes btnAnim{
	0%{
		left: -15%;
	}
	25%{
		left: 110%;
	}
	100%{
		left: 110%;
	}
}
.header_lozung a:hover{
	background-color: rgba(138 212 17 / 0.5);
}
.svg_triangle{
	display: none;
}
.cont_tel_call{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.call_me_container{
	display: none;
}


/*_____________________________________________________футер*/

.footer_section{
	width: 100%;
	background-color: hsl(240deg 50% 40%);
	margin-top: 50px;
	padding: 30px 20px;
}
.footer_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
	border-radius: 5px;
	background-color: var(--main-col-1);
	margin-right: 20px;
}
.footer_icon_text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	/*padding-left: 20px;*/
}
.footer_inf_cont{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;	
}
.footer_inf_cont a{
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
}
.footer_cont_1 .footer_icon_text span:last-child{
	font-size: 13px;
}
.footer_cont_1 > div:last-child{
	margin-top: 20px;
}
.footer_cont_2{
	margin-top: 20px;
}
.footer_cont_2 > div:last-child{
	margin-top: 20px;
}
.footer_email{
	font-size: 13px;
	color: rgba(255 255 255/70%);
}
.footer_menu{
	display: none;
}
.social_icon{
	width: 20px;
	height: 20px;
	margin-right: 20px;
	cursor: pointer;
}
.social_cont{
	margin-top: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.svg_footer{
	width: 20px;
	height: 20px;
}
.svg_vk{
	height: 35px;
	width: 35px;
}

.footer_locations{
	margin-top: 45px;
	border-top: 1px dashed rgba(255 255 255 / 30%);
	color: white;
	width: 100%;
}

.footer_locations span{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.footer_locations ul{
	color: var(--main-col-1);
}
.footer_locations a{
	text-decoration: none;
}

.copy_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-top: 30px;
	width: 100%;
	padding: 20px 0;
	color: white;
	border-top: 1px dashed rgba(255 255 255 / 30%);
	text-align: center;
}
.copy_cont span:first-child{
	font-size: 13px;
	color: rgba(255 255 255 / 70%);
}
.copy_cont span:last-child{
	font-size: 12px;
	color: rgba(255 255 255 / 70%);
	margin-top: 15px;
}
.copy_cont a{
	color: rgba(255 255 255 / 80%);
}

/*Шесть шагов ______________________________________________________*/


.presents{
	margin-top: 70px;
}

.cont_grid_pres{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
.grid_item_pres{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px;
	background-color: var(--main-col-3);
}
.present_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-width: 100px;
	min-height: 100px;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background-color: var(--main-col-1);
}
.pres_hed{
	font-weight: 900;
	color: var(--color-title);
	font-size: 20px;
	margin-bottom: 10px;
}
.present_text_block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: left;
	margin-left: 20px;
}
.pres_desc{
	color: var(--color-sub-title);
}

/*Перенесенные стили с световых линний______________________________________*/

.green_defice{
	color: var(--main-col-1);
}

.lightsLines_flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}
.lights_img_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 350px;
}
.lights_img_cont img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.lights_img_cont picture{
	width: 100%;
}
.lights_text{
	padding: 20px;
	font-weight: 400;
	color: rgba(0 0 0 / 70%);
}

.examle_flex{
	position: relative;
}
.shell_price{
	position: relative;
	/*width: 100%;*/
	overflow: hidden;
}
.example_img_cont{
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
}
.example_img_cont img{
	width: 100%;
	height: 350px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.example_img_cont picture{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.examp_none{
	display: none;
}

.examp_left{
	left: calc(-100% - 10px);
}
.show_img_cont picture.examp_left{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.examp_action{
	left: 0;
}
.show_img_cont picture.examp_action{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.examp_right{
	left: calc(100% + 10px);
}
.show_img_cont picture.examp_right{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.examp_right_940{
	display: none;
}
.close_btn_examp{
	position: absolute;
	display: none;
	padding: 25px;
	top: 20px;
	right: 15px;
	z-index: 100;
}
.request_price_wrapp{
	position: absolute;
	background-color: var(--main-col-1);
	padding: 10px;
	border-radius: 5px;
	bottom: 30px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	cursor: pointer;
	z-index: 95;
}
.request_price_wrapp span{
	color: white;
	text-decoration: underline;
}
.shell_examp div.request_price_wrapp{
	bottom: 100px;
}
.req_price_left{
	left: -60%;
}
.req_price_right{
	right: -60%;
}

.req_price_left_action{
	left: 20px;
}

.req_price_right_action{
	right: 20px;
}
.examp_btns{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 20px;
	z-index: 50;
}

.img_like_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 30px;
	text-align: center;
	cursor: pointer;
}
.img_like_cont span{
	font-size: 12px;
	margin-left: 10px;
	color: rgba(0 0 0/70%);
}
.exapm_view div.img_like_cont{
	margin-right: 20px;
}

.svg_like{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	fill: white;
	stroke: #8ad411;
	stroke-width: 7px;
}
.svg_like_show{
	fill: black;
	stroke: white;
}
.svg_like_cheked{
	fill: #8ad411;
}
.svg_like_cheked_show{
	fill: white;
}
.like_cont_940{
	display: none;
}
.cont_left_right{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.count_img_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: rgba(0 0 0 / 70%);
	margin-right: 20px;
}
.feedback_btns_contain .count_img_cont{
	margin-left: 50%;
}
.btns_left_right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	background-color: var(--main-col-1);
}
.examp_btn_left{
	position: relative;
	margin-right: 10px;
	-webkit-transform: rotateZ(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotateZ(180deg);
	z-index: 1;
}
.shell_examp{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 150;
}
.show_img_cont img{
	/*height: 75%;*/
	width: 100%;
}

.show_img_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: black;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 90;
}
.exapm_view{
	position: fixed;
	bottom: 30px;
	right: 30px;
	padding-right: unset;
	z-index: 160;
}
.exapm_view > div{
	background-color: transparent;
}


.exapm_view span{
	color: white;
}

.price_section{
	margin-top: 50px;
	padding: 0 20px;
}
.img_table{
	width: 50px;
	height: 50px;
	-o-object-fit: contain;
	   object-fit: contain;
}

.update_price{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-top: 10px;
	font-size: 14px;
	color: rgba(0 0 0 / 50%);

}

.priseFoto{
	position: absolute;
	right: 0;
	top: 10%;
	font-size: 18px;
	padding: 5px;
	padding-left: 15px;
	font-weight: 700;
	border-radius: 3px;
	background-color: #8ad4117a;
	color: white;
}
.show_img_cont .priseFoto{
	top: calc((100% - 350px)/2 + 20px);
}

.hashNameCont{
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	bottom: 10px;
	right: 10px;
	text-align: right;
	color: white;
}
.hashNameCont div{
	margin-top: 5px;
}
.hashNameCont span{
	padding: 0 3px;
	border-radius: 3px;
}
.hashItem{
	background-color: #8ad4117a;
}
.hashViewMode{
	bottom: calc(12.5% + 10px);
}

/*перенесенные стили из маин страницы_______________________________________________________________*/

.aferta_block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: var(--main-col-blue);
	border-radius: 4px;
	padding: 30px;
	color: white;
}
.aferta_block h4{
	font-size: 20px;
	font-weight: 900;
}
.aferta_block span{
	color: rgba(255 255 255 / 70%);
}
.aferta_block span:nth-child(4){
	margin-bottom: 15px;
}
.sale_flag{
	position: absolute;
	padding: 10px;
	top: 50px;
	right: 30px;
	background-color: var(--main-col-1);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px; 
}
.aferta_btn{
	width:80%;
	max-width: 280px;
	margin-top: 20px;
	padding: 10px;
	border: 2px solid white;
	border-radius: 3px;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}
.aferta_btn:hover{
	background-color: var(--main-col-1);
	border-color: var(--main-col-1);
	text-decoration: none;
}


.calculate_cont input{
	width: 100%;
	padding: 15px;
	outline: none;
	margin-bottom: 10px;
	border-radius: 5px;
	border: solid 1px white;
}
.calculate_cont input:hover{
	border: solid 1px rgba(0 0 0 / 20%);
}
.calculate_cont input::-webkit-input-placeholder{
	color: rgba(0 0 0 / 50%);
	font-size: 15px;
}
.calculate_cont input::-moz-placeholder{
	color: rgba(0 0 0 / 50%);
	font-size: 15px;
}
.calculate_cont input:-ms-input-placeholder{
	color: rgba(0 0 0 / 50%);
	font-size: 15px;
}
.calculate_cont input::-ms-input-placeholder{
	color: rgba(0 0 0 / 50%);
	font-size: 15px;
}
.calculate_cont input::placeholder{
	color: rgba(0 0 0 / 50%);
	font-size: 15px;
}
input.invalidValueCalculate:hover{
	border: 1px solid red;
}
input.invalidValueCalculate{
	border: 1px solid red !important;
}
textarea.invalidValueCalculate{
	border: 1px solid red !important;
}
.invalidValueCalculate{
	border: 1px solid red !important;
}
.calc_btn{
	position: relative;
	width: 100%;
	padding: 15px;
	background-color: var(--main-col-1);
	color: white;
	text-align: center;
	border-radius: 5px;
	border: 2px solid var(--main-col-1);
	cursor: pointer;
	overflow: hidden;
}

.calcult_result_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	color: rgb(0 0 0 / 70%);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.calcult_result_cont > div:first-child{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 10px;
}


.calcult_result_cont span{
	text-align: center;
	font-weight: 600;
	text-align: center;
}
.calcult_result_cont> div > span:first-child{
	font-size: 22px;
	
}
.calcult_result_cont > div >  span:last-child{
	margin-top: 7px;
	font-size: 17px;
}
.calc_result_btn{
	padding: 10px;
	border: 1px solid var(--main-col-1);
	border-radius: 5px;
	color: rgb(0 0 0 / 70%);
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	cursor: pointer;
}
.calc_result_btn:hover{
	background-color: var(--main-col-1);
	color: white;
}
/*таблица прайс___________________________________________________________*/

.price_table table{
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}
.price_table thead tr{
	background-color: var(--main-col-3)
}
.price_table table td{
	border: solid 1px rgba( 0 0 0 /30%);
	padding: 5px;
}
.price_table thead td{
	border-top: none;
}
.price_table tr td:first-child{
	border-left: none;
	text-align: left;
}
.price_table tr td:last-child{
	border-right: none;
}

/*стили общие новые_______________________________________________________________*/

.parag_color_text{
	color: #625e5e;
	font-weight: 400;
	font-size: 17px;
}

/*контрольные кнопки хэштэгов_________________________________________________*/

.controlHashTagCont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 10px 10px;
}
.controlHashItem{
	color: #0000009c;
	font-weight: 600;
	padding: 2px;
	font-size: 14px;
	cursor: pointer;
	margin-top: 2px;
	white-space: nowrap;
	margin-right: 5px;
}
.hashContrActiv{
	color: white;
	background-color: var(--main-col-1);
	border-radius: 5px;
}

/*просмоторщик фотогалереи_________________________________________________________________*/

.fotoGalaryCont{
	position: fixed;
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 110;
	top: 0;
	left: 0;
}
.fotoGalaryCont > h4{
	position: absolute;
	top: 30px;
	color: white;
	left: 50%;
	transform: translate(-50% , 0);
	text-align: center;
	background-color: rgb(0 0 0 / 20%);
	padding: 15px;
	z-index: 110;
}
.fotoGalh3{
	position: absolute;
	bottom: 100%;
	color: white;
}
.fotoGalaryCont img{
	width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}
.fotoGalaryCont picture{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	position: absolute;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	text-align: center;
	z-index: 100;
}
.fotoGalaryPicAct{
	left: 0;
}
.fotoGalaryPicleft{
	left: -100%;
}

.fotoGalaryPicRight{
	left: 100%;
}
.fotoGalCloseBtn{
	position: absolute;
	right: 30px;
	top: 30px;
	padding: 15px;
	z-index: 110;
	background-color: rgb(0 0 0 / 20%);
}

.fotoGalControlPanel{
	position: absolute;
	bottom: 30px;
	left: calc(50% - 80px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 160px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	z-index: 110;
}
.fotoGalControlPanel > span{
	margin-top: 10px;
	color: white;
}
.fotoGalControlPanel > div{
	padding: 10px;
	background-color: rgb(0 0 0 / 20%);
}
.fotoGalaryLefttBtn svg{
	-webkit-transform: rotateZ(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotateZ(180deg);
}

/*стрелка для галереи фотопечати______________________________________________*/

.FPcountCont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 10px;
	color: rgb(0 0 0 / 70%);
	white-space: nowrap;
}
.FPcontArrow{
	border: 1px solid #8ad411a6;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.arrRotate{
	-webkit-transform: rotateZ(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotateZ(180deg);
}
.arrow-8 {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px auto 10px auto;
}
.arrow-8:before,
.arrow-8:after {
    content: '';
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 5px solid #babfba;
    border-bottom: 5px solid #babfba;
    -webkit-animation: arrow-8 3s linear infinite;
            animation: arrow-8 3s linear infinite;
}
.arrow-8:after {
    -webkit-animation: arrow-8 3s linear infinite -1.5s;
            animation: arrow-8 3s linear infinite -1.5s;
}

@-webkit-keyframes arrow-8 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -25px) rotate(-45deg);
                transform: translate(0, -25px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        -webkit-transform: translate(0, 0) rotate(-45deg);  
                transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 10px) rotate(-45deg);
                transform: translate(0, 10px) rotate(-45deg);
    }
}

@keyframes arrow-8 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -25px) rotate(-45deg);
                transform: translate(0, -25px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        -webkit-transform: translate(0, 0) rotate(-45deg);  
                transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 10px) rotate(-45deg);
                transform: translate(0, 10px) rotate(-45deg);
    }
}



.answerToQuestSection{
	padding: 10px;
}

.questBlock{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px;
	height: 63px;
	max-height: 63px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-top: 2px solid var(--main-col-1);
	border-right: 2px solid var(--main-col-1);
	border-left: 2px solid var(--main-col-1);
	border-bottom: 1px solid var(--main-col-1);
	color: rgb(0 0 0 /70%);
	font-weight: 600;
	font-size: 17px;
	cursor: pointer;
	margin-top: 20px;
}
.answerIconCont{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 20px;
	height: 20px;
}
.answerIconCont div{
	position: absolute;
	width: 20px;
	height: 4px;
	border-radius: 4px;
	background-color: var(--main-col-1);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.answerIconCont div:last-child{
	-webkit-transform: rotateZ(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotateZ(90deg);
}
.answerBlock{
	height: 0;
	overflow: hidden;
	color: rgb(0 0 0 / 70%);
	font-weight: 500;
	line-height: 1.4;
	border-bottom: 1px solid var(--main-col-1);
	border-right: 2px solid var(--main-col-1);
	border-left: 2px solid var(--main-col-1);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.answerBlock div{
	padding: 20px;
}


/*о компани___________________________________________________________-*/

.about_section{
	margin-top: 50px;
}
.about_cont{
	position: relative;
	margin-top: 40px;
	padding: 0 30px;
}
.pad_color{
	position: absolute;
	background-color: var(--main-col-3);
	width: 100%;
	left: 0px;
	top: 200px;
	height: 300px;
	-webkit-transform: skew(0, 10deg);
	    -ms-transform: skew(0, 10deg);
	        transform: skew(0, 10deg);
}
.about_cont img{
	position: relative;
	width: 100%;
	border-radius: 7px;
}
.about_text{
	position: relative;
	color: rgba( 0 0 0 /55%);
	text-align: center;
	line-height: 24px;
	font-size: 16px;
}
.about_text a.all_doc_btn{
	width: 170px;
}
.about_btn_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 30px;
}


/*_______________________________________________отзывы*/
.feedback_btns_contein{
	padding-right: 10px;
}
.feedback_btns_contein .count_img_cont{
	margin-left: 50%;
}

.feedback_section{
	margin-top: 50px;
	width: 100%;
	padding: 20px;
}
.feedback_section .heder_present span:last-child{
	text-align: center;
}
.feedback_heder_color{
	width: 100%;
	height: 70px;
	background-color: var(--main-col-3);
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
.feed_main_cont{
	position: relative;
	height: 450px;
	width: 100%;
	overflow: hidden;
}
.feedback_action{
	left: 0;
	z-index: 5;
}
.feedback_left{
	left: calc(-100% - 10px);
	z-index: 1;
}
.feedback_right{
	left: calc(100% + 10px);
	z-index: 1;
}
.feedback_740{
	display: none;
}
.feedback_940{
	display: none;
}
.feedback_none{
	display: none;
}
.feedback_cont{
	position: absolute;
	height: 450px;
	border: 2px solid var(--main-col-3);
	border-radius: 7px;
	width: 100%;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	background-color: white;
	overflow: auto;
}
.feed_back_avatar{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 25px;
	left: 20px;
	border-radius: 130px;
	border: 7px solid white;
	overflow: hidden;
}
.feed_back_avatar img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.feedback_cont h3, .feedback_cont p{
	color: rgba(0 0 0/ 70%);
	margin-left: 20px;
	margin-right: 20px;
}
.feedback_cont h3{
	margin-top: 40px;
}
.feedback_cont p{
	font-size: 14px;
}
.feedback_btns_contein{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.feedback_btns_contein div.all_doc_btn{
	width: unset;
	padding-right: 20px;
	padding-left: 20px;
}
.feedback_btns_contein .cont_left_right div{
	padding: 10px;
	background-color: var(--main-col-1);
	color: white;
	border-radius: 5px;
	max-height: 42px;
	cursor: pointer;
}
.cont_left_right{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.feedback_btns_contein .cont_left_right div:first-child{
	margin-right: 5px;
}

.feedScopeDateCont{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 10px 20px;
	width: 100%;
	bottom: 0;
	font-size: 12px;
	color: rgb(0 0 0 / 60%);
	font-weight: 600;
}
.scope_feedback{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.feed4countWrapp{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.feed4countWrapp img{
	width: 50px;
	height: 50px;
	margin-right: 2px;
	margin-bottom: 2px;
	-o-object-fit: cover;
	   object-fit: cover;
	cursor: pointer;
}
.all_feed_back_svg{
	width: 12px;
	height: 12px;
	margin-left: 2px;
}


.feedBackSortCont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 5px;
	color: rgb(0 0 0 /70%);
	font-weight: 600;
	font-size: 14px;
}

.svg_sortdata_feedBack{
	width: 16px;
	height: 16px;
	fill: var(--main-col-1);
	margin-left: 5px;
}
.svg_sort_rotate_up{
	-webkit-transform: rotateZ(270deg);
	    -ms-transform: rotate(270deg);
	        transform: rotateZ(270deg);
}
.svg_sort_rotate_down{
	-webkit-transform: rotateZ(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotateZ(90deg);
}

.sortFeedbackFoto{
	padding: 5px;
}
.feedSortFotoActiv{
	background-color: var(--main-col-1);
	border-radius: 5px;
	color: white;
}

.feedBackSortCont > div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
}

.dopWrapFeedback{
	height: 0;
	overflow: hidden;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.add_feedback_section{
	padding: 50px 20px 0 20px;
}
.add_feedback_section form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 30px;
}
.add_feedback_section form > div{
	font-size: 17px;
	font-weight: 600;
	color: rgb(0 0 0 / 60%);
}
.add_feedback_section form textarea:hover, .add_feedback_section input:first-child:hover{
	border: solid 1px rgba(0 0 0 / 20%);
}

.add_feedback_section form textarea{
	height: 8em;
}
.add_feedback_section form textarea, .add_feedback_section input:first-child{
    width: 100%;
    padding: 15px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px rgba(0 0 0 / 20%);
}

.add_feedback_btn_open_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.add_feedback_btn_open_cont >div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 300px;
	padding: 10px 0;
	background-color: var(--main-col-1);
	color: white;
	font-weight: 600;
	font-size: 17px;
	border-radius: 5px;
	cursor: pointer;
}
.add_feedback_btn_open_cont > div div{
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	-webkit-transform: rotateZ(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotateZ(45deg);
	width: 20px;
	height: 20px;
}

.feedback_scope_item{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	cursor: pointer;
}
.scope_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px;
	border-radius: 5px;
}
.scope_cont span{
	margin-right: 20px;
}
.polygon_scope{
	stroke: #FAC917;
	stroke-width: 30;
	fill: transparent;
}
.scope_svg_action{
	fill: #FAC917;
}
.inputs_file_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
	border: 1px solid var(--main-col-1);
	border-radius: 5px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 10px;
	margin-top: 10px;
}
.inputs_file_cont label{
	margin-bottom: 10px;
}




@media(min-width: 480px){
	.combo_header{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.name_company{
		margin-right: 60px;
		margin-left: 20px;
		margin-top: 25px;
	}
	.show_img_cont img{
		height: 75%;
	}
	.show_img_cont .priseFoto{
		top: 15%;
	}
}

@media(min-width: 600px){
	.fotoGalaryCont picture{
		height: 70%;
	}
}
@media(min-width: 640px){
	
	.header_lozung{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
	}
	.header_lozung span:first-child{
		font-size: 30px;
		text-align: center;
	}
	.logo_header{
		height: 120px;
		width: 140px;
		min-width: 140px;
	}
	.header_lozung a{
		margin-bottom: 200px;
	}
	.svg_triangle{
		display: block;
		position: absolute;
		bottom: -2px;
		left: calc(0px - var(--header-left-padding));
		width: calc(100% + var(--header-left-padding));
		height: 150px;
		z-index: 10;
	
	}
	.call_me_container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 0.8em;
		border: 2px solid white;
		border-radius: 3px;
		padding-left: 2em;
		color: white;
	}
	.call_me_container:hover{
		background-color: var(--main-col-1);
		border: 2px solid var(--main-col-1);
		cursor: pointer;
	}
	.call_me_container svg{
		margin-left: 1em;
	}
	.header_kont_call{
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.header_wrapp{
		padding-left: 30px;
		padding-right: 30px;
	}

	.show_img_cont .priseFoto{
		top: 20%;
	}



	.grid_item_pres{
		padding: 40px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.present_text_block{
		margin-top: 20px;
		text-align: center;
	}
	.cont_grid_pres{
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
	}
	.presents{
		margin-top: unset;
	}




	.footer_cont_1{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.footer_icon_text{
		/*width: 50%;*/
	}
	.footer_cont_1 > div:last-child{
		margin-top: 0;
	}
	.footer_cont_1 > div:first-child{
		width: 60%;
		padding-right: 40px;
	}
	.footer_section{
		padding: 30px 30px;
	}
	.footer_cont_2{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.footer_cont_2 > div:first-child{
		width: 60%;
	}
	.footer_cont_2 > div:last-child{
		margin-top: 0;
	}
	.copy_cont{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.copy_cont span:last-child{
		margin-top: 0;
	}
	.price_table{
		padding: 0 80px;
	}

	.about_text{
		text-align: left;
		font-size: 17px;
		line-height: 26px;
	}
	.about_btn_cont{
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.answerToQuestSection{
		padding: 0 10%;
	}

	.add_feedback_section{
		padding: 50px 10% 0 10%;
	}

}

@media(min-width: 740px){
	.feedback_cont{
		width: calc(50% - 10px);
	}
	.feedback_left{
		left: calc(-50% + 10px);
	}
	.feedback_right{
		left: calc(50% + 10px);
	}
	.feedback_action{
		left: 0;
	}
	.feedback_740{
		display: block;
		left: calc(100% + 10px);
	}
}

@media(min-width: 940px){
	.report_box{
		width: 70%;
	}
	.modal_report{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.cap_container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	
	.combo_header{
		width: 40%;
	}
	.name_company{
		margin-right: unset;
	}
	.menu_btn{
		display: none;
	}
	.virt_btn_menu{
		display: none;
	}
	.container_menu{
		margin-top: 20px;
		position: static;
		overflow: unset;
		background-color: unset;
		width: unset;
		height: unset;
	}
	.menu_flex_wrap{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		overflow: unset;
	}
	.line_butt{
		display: none;
	}
	.cont_940{
		position: relative;
	}
	.sub_menu{
		position: absolute;
		z-index: 20;
	}
	.open_sub_menu{
		-webkit-box-shadow: 5px 5px 15px 5px #000000; 
		box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 60%);
	}
	.header_lozung{
		padding-left: 80px;
		padding-right: 80px;
	}
	.header_lozung span:first-child{
		font-size: 40px;
	}
	.header_lozung span:nth-child(2){
		font-size: 23px;
		font-weight: 500;
	}
	.heder_present span:first-child{
		font-size: 30px;
	}


	.cont_grid_pres{
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	
	.footer_cont_940{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.footer_menu{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.footer_menu a{
		color: rgba(255 255 255 / 90%);
		text-decoration: none;
		font-size: 14px;
		margin-right: 20px;
		cursor: pointer;
	}
	.footer_locations{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.footer_locations > div{
		width: calc(100% / 3);
	}

	.footer_locations h4{
		text-align: center;
		margin-right: 40%;
	}
	.copy_cont{
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	/*Перенесенные стили с световых линний___________________________________-*/

	.lightsLines_flex{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}

	.lights_img_cont{
		width: 50%;
	}
	.lights_text{
		width: 50%;
		padding-top: 0px;
	}

	.example_img_cont picture{
		width: calc(50% - 5px);
	}

	.show_img_cont picture.examp_left{
		left: -100%;
	}
	.examp_left{
		left: calc(-50% - 5px);
	}

	.show_img_cont picture.examp_right{
		left: 100%;
	}
	
	.examp_right{
		left: calc(50% + 5px);
	}
	.examp_right_940{
		display: block;
		left: calc(100% + 10px);
	}
	.like_cont_940{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		left: calc(50% + 30px);
	}
	.show_img_cont picture{
		width: 100%;
	}
	.show_img_cont img{
		width: 80%;
	}
	.hashViewMode{
		right: calc(10% + 10px);
	}

	.price_table{
		padding: 0 10%;
	}
	.controlHashTagCont{
		padding: 10px 10%;
	}
	.controlHashItem{
		font-size: 17px;
	}

	.show_img_cont .priseFoto{
		right: 10%;
	}



	.about_cont{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.about_cont img{
		width: 60%;
		-o-object-fit: contain;
		   object-fit: contain;
	}
	.about_text{
		font-size: 14px;
		line-height: 21px;
		padding-left: 20px;
		width: 40%;
	}
	.about_text p:first-child{
		margin-top: 0;
	}
	.pad_color{
		top: 0;
	}
	.about_section{
		margin-top: 50px;
	}

	.answerToQuestSection{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.answerToQuestSection > div{
		width: 50%;
	}
	.answerToQuestSection > div:last-child{
		margin-left: 20px;
	}

	.feedback_cont{
		width: calc(33.33% - 10px);
	}
	.feedback_left{
		left: calc(-33.33% - 10px);
	}
	.feedback_right{
		left: calc(33.33% + 5px);
	}
	.feedback_740{
		left: calc(66.66% + 10px);
	}
	.feedback_940{
		display: block;
		left: calc(100% + 15px);
	}
	.add_feedback_section{
		padding: 50px 20% 0 20%;
	}

}





@font-face{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: local("Roboto-Thin"),
		url("../Roboto/woff/Roboto-Thin.woff2") format("woff2"),
		url("../Roboto/woff/Roboto-Thin.woff") format("woff"),
		url("../Roboto/ttf/Roboto-Thin.ttf") format("ttf");
}
@font-face{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local("Roboto-Light"),
		url("../Roboto/woff/Roboto-Light.woff2") format("woff2"),
		url("../Roboto/woff/Roboto-Light.woff") format("woff"),
		url("../Roboto/ttf/Roboto-Light.ttf") format("ttf");
}
@font-face{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Roboto-Regular"),
		url("../Roboto/woff/Roboto-Regular.woff2") format("woff2"),
		url("../Roboto/woff/Roboto-Regular.woff") format("woff"),
		url("../Roboto/ttf/Roboto-Regular.ttf") format("ttf");
}
@font-face{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Roboto-Medium"),
		url("../Roboto/woff/Roboto-Medium.woff2") format("woff2"),
		url("../Roboto/woff/Roboto-Medium.woff") format("woff"),
		url("../Roboto/ttf/Roboto-Medium.ttf") format("ttf");
}
@font-face{
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: local("Roboto-MediumItalic"),
		url("../Roboto/woff/Roboto-MediumItalic.woff2") format("woff2"),
		url("../Roboto/woff/Roboto-MediumItalic.woff") format("woff"),
		url("../Roboto/ttf/Roboto-MediumItalic.ttf") format("ttf");
}
@font-face{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Roboto-Bold"),
		url("../Roboto/woff/Roboto-Bold.woff2") format("woff2"),
		url("../Roboto/woff/Roboto-Bold.woff") format("woff"),
		url("../Roboto/ttf/Roboto-Bold.ttf") format("ttf");
}
@font-face{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local("Roboto-Black"),
		url("../Roboto/woff/Roboto-Black.woff2") format("woff2"),
		url("../Roboto/woff/Roboto-Black.woff") format("woff"),
		url("../Roboto/ttf/Roboto-Black.ttf") format("ttf");
}