/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/




/*_______________________________________________технологии*/
.tech_down_bt{
	position: absolute;
	height: 150px;
	width: 100%;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%);
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items:  center;
	justify-content: space-around;
	-webkit-box-shadow: 0px 14px 24px -1px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: 0px 14px 24px -1px rgba(0, 0, 0, 0.64);
	box-shadow: 0px 14px 24px -1px rgba(0, 0, 0, 0.64);
	transition: 0.4s;
}
.tech_down_bt span{
	font-size: 50px;
	font-weight: 100;
	color: #ffffffb0;
}
.tech_down_bt:hover{
	-webkit-box-shadow: 0px 19px 24px -1px rgba(0, 0, 0, 0.78);
	-moz-box-shadow: 0px 19px 24px -1px rgba(0, 0, 0, 0.78);
	box-shadow: 0px 19px 24px -1px rgba(0, 0, 0, 0.78);
}
.tech_grid{
	display: -ms-grid;
	display: grid;
	position: relative;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-top: 50px;
	padding-top: 5px;
	background-color: white;
	z-index: 3;
	transition: height 1s;
}

.tech_elem{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 300px;
	overflow: hidden;
	text-align: center;
}

.skew_revers{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column; 
	-webkit-box-align: center; 
	    -ms-flex-align: center; 
	        align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
}

.tech_header{
	position: relative;
	bottom: 30px;
	font-size: 24px;
	font-weight: 900;
	color: white;
}
.img_skew{
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	height: 100%;
}
.tech_picture{
	width: 100%;
	height: 300px;
}
.tech_mask{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: -o-linear-gradient(240deg, hsla(216deg,100%,50%, .6), 60%, rgba(30, 50, 255, .70));
	background: linear-gradient(210deg, hsla(216deg,100%,50%, .6), 60%, rgba(30, 50, 255, .70));
}
.btn_tech{
	padding:15px 40px;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	text-decoration: underline;
	cursor: pointer;
}
 a.btn_tech:hover{
	border-color: var(--main-col-1);
	background-color: var(--main-col-1);
	text-decoration: none;
}

.dop_style_6_step{
	background-color: white;
}

/*_____________________________________калькулятор*/

.calculate_cont{
	position: relative;
	background-color: var(--main-col-3);
	padding: 50px 20px;
}
.calcul_body{
	position: relative;
}
.padd_calcult{
	display: none;
}
/*поставщики ___________________________________________-*/

.vendorSection{
	padding: 0 20px;
}
.vendorItem{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 230px;
	border: 1px solid rgb(0 0 0 / 50%);
	color: rgb(0 0 0 /70%);
	font-weight: 500;
	margin-top: 20px;
}
.vendorItem > div:first-child{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 50%;
	border-right: 1px solid rgb(0 0 0 / 50%);
}
.vendorItem > div:last-child{
	width: 50%;
}
.vendorItem img{
	width: 100%
}
.vendorDescriptCont{
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.vendorDescriptCont > div:first-child{
	padding: 10px;
	border-bottom: 1px solid rgb(0 0 0/50%);
	font-size: 20px;
	font-weight: 600;
}
.vendorDescriptCont > div:last-child{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 20px 20px;
}
.vendorDescriptCont > div:last-child span:last-child{
	font-size: 20px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 5px;
}
.vendorPriseCont{
	margin-top: 10px;
	margin-bottom: 10px;
}
.vendorItem a{
	padding: 10px;
	text-align: center;
	width: 150px;
	font-weight: 700;
	border-radius: 4px;
	border: solid 2px var(--main-col-blue);
	color: var(--main-col-blue);
	text-decoration: underline;
	cursor: pointer;
}
.vendorItem a:hover{
	background-color: var(--main-col-blue);
	color: white;
	text-decoration: none;
}
/*_______________________________________________________сертификаты*/



.certificate_cont{
	margin-top: 50px;
	padding: 0 30px;
}

.certif_doc{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 50px;
}
.certif_doc .heder_present span:last-child{
	text-align: center;
}
.img_container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.img_container img{
	width: 100%;
}
.img_row_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 10px;
}
.img_border{
	padding: 10px;
	border: 5px solid var(--main-col-3);
	border-radius: 5px;
}
.img_row_cont div.img_border:first-child{
	margin-right: 10px;
}
.all_doc_btn{
	padding: 10px;
	text-align: center;
	width: 250px;
	font-weight: 700;
	border-radius: 4px;
	border: solid 2px var(--main-col-blue);
	color: var(--main-col-blue);
	text-decoration: underline;
	cursor: pointer;
}
.all_doc_btn:hover{
	background-color: var(--main-col-blue);
	color: white;
	text-decoration: none;
}
.prise_btn{
	position: relative;
	overflow: hidden;
	display: none;
}
.cert_btn_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 30px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.howMuchDoneSection{
	padding: 0 20px;
}
.howMuchCont:hover{
	-webkit-box-shadow: 6px 6px 10px 0px rgba(34, 60, 80, 0.45);
	        box-shadow: 6px 6px 10px 0px rgba(34, 60, 80, 0.45);
}
.howMuchCont span:hover{
	cursor: default;
}
.howMuchCont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom, #f9f9f9 0%, #1b40cb73 100%);
	border-image-slice: 1;
}

.borderEffect{
	-o-border-image: -o-linear-gradient(top, #1b40cb73 0%, #1b40cb73 100%);
	   border-image: -webkit-gradient(linear, left top, left bottom, from(#1b40cb73), to(#1b40cb73));
	   border-image: linear-gradient(to bottom, #1b40cb73 0%, #1b40cb73 100%);
	border-image-slice: 1;
}
.boxShadEffect{
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.35);
	        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.35);
}
.howMuchDoneSection > div span:first-child span:first-child{
	font-size: 35px;
	font-weight: 900;
	color: #35d411;
	text-shadow: 3px 3px 5px rgba(0 0 0 /30%);
}
.howMuchDoneSection > div span:last-child{
	font-weight: 700;
	font-size: 20px;
	color: #000000b3;
}
/*________________________________________ о компаниии*/



@media(min-width: 640px){



	.tech_grid{
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.padd_tech{
		position: absolute;
		top: -70px;
		width: 100%;
		height: 500px;
		background-color: var(--main-col-3);
		-webkit-transform: skew(0, 10deg);
		    -ms-transform: skew(0, 10deg);
		        transform: skew(0, 10deg);
		z-index: 1;
	}
	.pres_hed{
		text-align: center;
	}

	.dop_style_6_step{
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		text-align: left;
	}
	.calculate_cont{
		background-color: white;
		margin-top: 100px;
	}
	.padd_calcult{
		display: block;
		position: absolute;
		top: 75px;
		-webkit-transform: skew(0, 10deg);
		    -ms-transform: skew(0, 10deg);
		        transform: skew(0, 10deg);
		left: -20px;
		background-color: var(--main-col-3);
		width: calc(100% + 20px);
		height: 100%;
	}
	.calcul_body{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	div.calc_btn{
		width: calc((90% - 20px) / 3);
		margin-top: 10px;
	}
	.flex_input{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 90%;
	}
	.calculate_cont input:first-child{
		margin-right: 15px;
	}
	.calculate_cont input:nth-child(2){
		margin-right: 15px;
	}
	.prise_btn{
		display: block;
		padding: 10px;
		text-align: center;
		width: 250px;
		border-radius: 4px;
		font-weight: 700;
		background-color: var(--main-col-1);
		border: solid 2px var(--main-col-1);
		color: white;
		cursor: pointer;
	}
	.prise_btn:hover{
		background-color: white;
		color: var(--main-col-1);
	}
	.cert_btn_cont{
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	/*__________________________________________портфолио*/
	

	
}

@media(min-width: 750px){
	/*.howMuchDoneSection{
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
	}*/
}




@media(min-width: 940px){


	.tech_down_bt{
		-webkit-transform: skew(0, 10deg);
		    -ms-transform: skew(0, 10deg);
		        transform: skew(0, 10deg);
	}

	.tech_down_bt span{
		-webkit-transform: skew(0, 350deg);
		    -ms-transform: skew(0, 350deg);
		        transform: skew(0, 350deg);
	} 
	.tech_grid{
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		-webkit-transform: skew(0, 10deg);
		    -ms-transform: skew(0, 10deg);
		        transform: skew(0, 10deg);
		margin-top: 150px;
	}
	.img_skew{
		position: relative; 
		top: -50px; 
		height: 130%; 
		-webkit-transform: skewY(-10deg); 
		    -ms-transform: skewY(-10deg); 
		        transform: skewY(-10deg);
	}
	.skew_revers{
		-webkit-transform: skew(0, -10deg);
		    -ms-transform: skew(0, -10deg);
		        transform: skew(0, -10deg);

	}
	.btn_tech{
		position: relative;
		top: 80%;
		-webkit-transition: top .3s;
		-o-transition: top .3s;
		transition: top .3s;
	}
	.tech_header{
		-webkit-transition: bottom .2s;
		-o-transition: bottom .2s;
		transition: bottom .2s;
	}
	.tech_elem img{
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}
	.padd_tech{
		top: -100px;
	}
	.flex_input{
		width: 70%;
	}
	div.calc_btn{
		width: calc((70% - 20px)/3);
	}

	.vendorSection{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 10%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.vendorSection > div{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.vendorItem{
		width: 50%;
	}
	.vendorSection > div > div:last-child{
		margin-left: 20px;
	}
	.certif_940{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.aferta_container{
		width: 50%;
		margin-right: 30px;
	}
	.certif_doc{
		margin-top: unset;
	}
	.all_doc_btn{
		margin-bottom: 20px;
	}
	.prise_btn{
		max-height: 42px;
	}
	
	.feedBackSortCont{
		padding: 0 15%;
	}
	.howMuchDoneSection{
		padding: 0 3%;
	}
}