/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



.device_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.device_img_cont img{
	width: 100%;
	height: 350px;
	-o-object-fit: cover;
	   object-fit: cover;
}

.request_price_shell{
	position: relative;
}
.request_price_action{
	right: 20px;
	z-index: 170;
}


@media(min-width: 650px){
	.row_quadr{
		flex-direction: row;
	}
	.row_quadr > div{
		width: 50%;
	}

}


@media(min-width: 940px){
	.device_cont{
		display: block;
		width: 100%;
		padding: 0 10%;
	}
	.device_img_cont{
		width: 50%;
	}
	.device_text{
		width: 100%;
	}
	.device_img_cont img{
		float: left;
		margin-right: 20px;
	}
	.row-reverse{
		flex-direction: row-reverse;
	}
	.row_quadr > div:first-child{
		width: 45%;
	}
	.lightsLines_flex{
		padding-left: 10%;
		padding-right: 10%;
	}

}