/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.choiceConfSection{
	position: relative;
	padding: 10px;
	color: rgba(0 0 0 / 60%);
}

.choiceConfSection p{
	font-weight: 500;
	position: relative;
	z-index: 20;
	padding: 0 20px;
}
.choiceConfSection > h3{
	text-align: center;
	position: relative;
	z-index: 20;
	margin-top: 100px;
	font-size: 21px;
}
.choiceConfSection > h3:first-child{
	margin-top: 50px;
}
.NoChelRow img{
	width: 100%;
	height: 300px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.noChelCont div:last-child{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column
}
.noChelCont{
	margin-top: 30px;
	position: relative;
	z-index: 20;
}
.NoChelRow span{
	margin-bottom: 20px;
}
.NoChelRow div:last-child{
	padding-left: 10px;
}


.cont_svg{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-x: auto;
	position: relative;
}
.stroke_level{
	stroke: #505050; 
	stroke-width: 2;
}
.fillPattern{
	stroke: #505050; 
	fill: transparent; 
	stroke-width: 1;
}
.padd_calcult{
	display: block;
	position: absolute;
	-webkit-transform: skew(0, 10deg);
	    -ms-transform: skew(0, 10deg);
	        transform: skew(0, 10deg);
	left: -20px;
	background-color: var(--main-col-3);
	width: calc(100% + 20px);
	height: 700px;
	z-index: 10;
}
.design{
	padding: 20px;
	background-color: var(--main-col-3);
}
.calculate_cont{
	margin-top: 50px;
}

@media(min-width: 750px){
	.noChelCont{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.NoChelRow p{
		padding-left: 10px;
	}
	.NoChelRow{
		width: 50%;
	}
	.cont_svg{
		width: 80%;
	}
	.wrapp_cont_svg{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.row-rewers{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
	
}
@media(min-width: 950px){
	.NoChelRow p{
		margin-top: 30px;
	}
	.choiceConfSection > p{
		width: 65%;
		text-align: center;
	}
	.choiceConfSection{
		padding: 0 10%;
	}
	.design{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
	}
	.design > div:first-child{
		width: 60%;
	}
	.design > div:last-child{
		width: 40%;
		margin-left: 20px;
	}
}