/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.flex_col{
	display: flex;;
	flex-direction: column;
	margin-top: 30px;
	margin-left: 15%;

}
.flex_col > span {
	position: relative;
	margin: 15px;
	font-size: 18px;
}
.flex_col > span > span{
	margin-left: 10px;
}
.types_row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.types_row picture{
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 360px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0 10px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid rgba(0 0 0 /30%);
	border-radius: 5px;
	margin-bottom: 10px;

}
.types_row img{
	width: 100%;
	height: 200px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.types_row p{
	text-align: center;
	font-size: 20px;
	color: var(--color-sub-title);
	font-weight: 900;

}
.types_prof_cont{
	padding: 0 20px;
}
.types_featur{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: var(--color-sub-title);
	margin-bottom: 20px;
}



@media(min-width: 550px){
	.types_row{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.types_row picture:first-child{
		margin-right: 10px;
	}
}


@media(min-width: 940px){
	.types_prof_cont{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.types_row picture{
		width: 50%;
	}
	.types_row picture{
		margin-right: 10px;
	}
	div.types_row:last-child picture:last-child{
		margin-right: unset;
	}
	
}