
# Включаем перенаправление
RewriteEngine On
# Не применять к существующим файлам файлам
RewriteCond %{REQUEST_FILENAME} !-f
# Не применять к существующим директориям
RewriteCond %{REQUEST_FILENAME} !-d
#и если это не статика
RewriteCond %{REQUEST_URI} !\.(css|js|jpg|gif|png|webp|jpeg|ico|mp3|mp4|)$
# Редирект всех запросов на index.php
# L означает Last, нужен чтобы на этом этапе mod_rewrite сразу остановил работу.
# Короче, небольшое увеличение производительности.
RewriteRule .* index.php [L]


SetEnv VARIABLE_NAME variable_value