
.msg{
	position: fixed;
	right: -400px;
	top: 50px;
	border-radius: 10px;
	padding: 20px;
	color: white;
	transition: right .7s;
	z-index: 100;
}
.msg_succ{
	background-color: hsl(152deg 100% 40%);
}
.msg_err{
	background-color: hsl(0deg 100% 75%);
}
.msg_action{
	right: 20px !important;
}

.con_table{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 75vh;
	overflow: auto;
	
}
.inp_addtab{
	margin-top: 20px;
	height: 1.5em;
}
.selec_add_tab{
	margin-top: 20px;
	width: 100px;
	height: 1.8em;
}
.wrap_input{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.wrap_input input, select, span{
	margin-right: 10px;
	height: 1.5em;
}
.wrap_input select{
	width: 100px;
}
.im_del_row{
	position: absolute;
	right: 10px;
	height: 18px;
	opacity: 0;
}
tbody tr:hover{
	opacity: 1;
}
.con_add_tab{
	/*display: flex;*/
	flex-direction: column;
}
tbody tr{
	position: relative;
}
.table_column{
	width: 100%;
}
.table_name{
	font-size: 15px;
	font-weight: bold;
	/*flex-direction: row;*/
}
.result{
	display: flex;
	margin-top: 20px;
	/*justify-content: space-around;*/
	align-items: center;
	background-color: rgb(0 0 0 /10%);
	overflow-x: auto;
}
.name_table_open{
	background-color: white;
}
.result a{
	padding: 10px 40px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
	transition: 1s;

}
.row_img{
	position: relative;
}
.img_add_row{
	position: absolute;
	/*left: -15px;*/
	height: 15px;
}
.result img{
	height: 15px;
	margin-left: 20px;
	margin-right: 20px;
}
th, td{
	text-align: center;
	cursor: default;
}
thead tr:nth-child(2){
	font-size: 10px;
	word-break: break-all;
}

tbody input{
	border: none;
	outline: none;
}

.imgTableCell{
	min-width: 50px;
}
.imgTableCell img{
	width: 350px;
	height: 350px;
	object-fit: contain;
}

.select_hashTag{
	height: 250px;
}

.divHashTag{
	cursor: pointer;
}
.divHashTag:hover{
	text-decoration: underline;
}

@media(min-width: 500px){
	.con_table{
		/*justify-content: space-around;*/
	}
}