body{
	touch-action: none;
}


.year_cont{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.year_btn_action{
	border: 2px solid red;
}
.year_cont > input {
	width: 100px;
	margin-top: 10px;
}

.wrapp_m{
	display: flex;
	overflow: auto;
}
.dayModalWrapp{
	display: none;
	position: fixed;
	opacity: 0;
	transition: .5s;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;
	width: 100vw;
	height: 100vh;
	z-index: 5;
}
.dayModalWrapp > div {
	width: 100%;
	height: 100%;
	padding: 20px;
	position: relative;
	background-color: white;
	overflow: auto;
}
.modalDayClose {
	position: absolute;
	right: 5px;
	z-index: 30;
	top: 5px;
}
.inp_wrap_modal{
	width: 50%;
}
.inserChoiseBlock{
	padding: 10px; 
	width: 100%; 
	border: 1px solid;
}
.insertwrappModal{
	width: 50%;
}
.eventWrappDay{
	position: relative;
	padding: 10px;
	border: 1px solid grey;
	margin-top: 20px;
	overflow: hidden;
	transition: 0.4s;
	height: 88px;
}
div.eventWrappDay:last-child{
	margin-bottom: 100px;
}

.block-flexy{
	display: flex; 
	flex-wrap: wrap;
}
.evTelWr a{
	margin-right: 10px;
}
.start_finish{
	display: flex;
	justify-content: space-between;
}
.link_event{
	position: absolute;
	right: 10px;
	top: 10px;
}
.close_event_block{
	display:flex; 
	justify-content: center;
}
.svg_up_event_block{
	fill: rgba(0,0,0,0.5);
	width: 20px;
	height: 20px;
	transform: rotate(180deg);
}

@media (min-width: 500px){
	.block-flexy > div{
		margin-right: 20px;
	}
}