.plus_png{
	width: 20px;
}

.tableWrap{
	overflow: auto;
	width: 100%;
}
.tableWrap table{
	width: 100%;
}
table input{
	width: 100%;
}
td{
	word-break: break-all;
}
.close_png{
	width: 15px;
	opacity: 0;
	transition: 0.3s;
}
.close_png:hover{
	opacity: 1;
}
.ulclose{
	height: 0;			
}
ul{
	transition: 0.5s;
	overflow: hidden;
}
li{
	cursor: default;
	font-size: 18px;
}

.flex-column{
	display: flex; 
	flex-direction: column;
	margin-bottom: 10px;
}
.digit_inp_tabl{
	width: 50px;
}
.price_row{
	width: 100px;
}
.sum_row{
	width: 100px;
}
.sum_itog{
	width: 100px;
}
.insert_cl_wrapp{
	margin-top: 20px;
	display: flex;
}

.insertClients{
	max-height: 300px;
	overflow: auto;
	width: 220px;
}

@media(max-width: 400px){
	.digit_inp_tabl{
		width: 30px;
	}
	.price_row{
		width: 50px;
	}
	.sum_row{
		width: 50px;
	}
	.sum_itog{
		width: 50px;
	}
}